<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Watson's Book Shop</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
  <link href="/style/client.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>
  <div class="wrap">
    <header>
    <div class="logo"><span class="title"><span>wager</span> accepted!</span></div>
    </header>
  <div class="content" id='notes'>
  {% if data %}
    <article>
      <section class="head">
        <p>Now send {{ data.price }} bits to <a href="bitcoin:{{ data.escrow }}">{{ data.escrow }}</a></p>
        <div id="qrcode">
          <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ data.escrow }}">
        </div>
        <h3>{{ data.name}}</h3>
        <div class="date">- {{ data.value }} - {{ data.price }}</div>
      </section>
    </article>
    {% endif %}
    </div>
    <nav class="horizontal menu center">
            <ul>
                <li><a href="/client">Home</a></li>
            </ul>
        </nav>
  </div>
</body>
</html>
