<!DOCTYPE html>
<html>
<head>
	<title>Watson's Book Shop</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<div class="leftHalf">
		<img class="newappIcon" src="images/watson-icon.png">
		<h1>
			Watson's Book Shop
		</h1>
        <p class="description">A decentralized market for self-executing social bets.</p>
	</div>
	<div class = "rightHalf">
	<header>
		<div class='title'>Open bets.
		<button class='' onclick="toggleAppInfo()" title='Application Information'>
				<img height="15px" width="15px" src='images/info.png' alt='detail'/>		
		</button>
		</div>
	</header>	
	<section id='appinfo' style='display: none;'>
		info
	</section>
	<section>
		<table id='notes' class='records' border='0' cellspacing='0' cellpadding='0'>
		<thead><tr><td class="content">Wager</th><th>Expiration</th><th>Bits Bet</th><th></th></tr>
		<tbody>
		</tbody></table>
	</section>
	<footer>
		<div class='tips'>
			<button class="addBtn" onclick="addItem()" title="add record">
			<img src="images/add.png" alt="add">
			</button>
		</div>
		<div id="loadingImage"></div>	
	</footer>
	<header>
		<div class='title'>Expired bets.</div>
	</header>	
	<section>
		<table id='expired' class='records' border='0' cellspacing='0' cellpadding='0'>
		<thead><tr><td class="content">Wager</th><th>Expiration</th><th>Bits Bet</th><th></th></tr>
		<tbody>
		</tbody></table>
	</section>
	<footer>
		<div class='tips'>
			My Public Key: <input size=72 id="pubKey0">
		</div>
	</footer>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script type="text/javascript" src="/scripts/index.js"></script>
	<div id="myImage"><div id="innerImg"></div></div>
	<br><br><br>	

	</div>
</body>
</html>
