<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Watson's Book Shop</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no" />
  <link href="style/client.css" rel="stylesheet" type="text/css" media="all"/>
</head>

<body>
  <div class="wrap">
    <header>
    <nav class="horizontal menu center">
            <ul>
                <li><a href="/account">Account</a></li>
                <li><a href="/client">Home</a></li>
                <li><a href="/create">Create a Bet</a></li>
            </ul>
        </nav>
    <div class="logo">
	<span class="title">open <span>wagers</span></span></div>
    </header>
<div class="content" id='notes'>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/util.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>
    <script>
    var REST_DATA = 'api/favorites';
    loadItems(REST_DATA, false);
    </script>
</body>
</html>
